{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}